.bg-light {
    background-color: gray !important;
}

.navbar-brand {
    color: black;
}

.btn-primary {
    --bs-btn-bg: purple;
}

.img-topo {
    width: 60px;
    /*altura*/
    margin-top: 10px;
    margin-left: 0px;
}

.card-text{
    color: black;
}